*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/.cxx
/captures
.externalNativeBuild
.cxx*
.cxx
*.exe
app/src/main/cpp/x86*
app/src/main/cpp/x86_64*
app/src/main/cpp/armeabi-v7a*
app/src/main/cpp/arm64-v8a*
app/src/main/node_modules*
*/build*
app/src/main/assets/*